name: Deploy from ECR

on:
  workflow_call:
    inputs:
      ecr_repository:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      aws_region:
        required: true
        type: string
      aws_ecr_iam_role_arn:
        required: true
        type: string
      runner_labels:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ${{ fromJson(inputs.runner_labels) }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.aws_region }}
          role-to-assume: ${{ inputs.aws_ecr_iam_role_arn }}
          role-session-name: deploy
          role-skip-session-tagging: true

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy using compose
        env:
          DOCKER_IMAGE: "${{ inputs.ecr_repository }}:${{ inputs.image_tag }}"
        run: docker compose up -d
